#panel {
	width: 800px;
	height: 600px;
	margin: auto;
	border: 2px yellow solid;
	position: relative;
}

body {
	background-color: black;
}

#pelota {
	position: absolute;
	background-color: yellow;
	width: 30px;
	height: 30px;
	z-index: 2;
	border: 2px black solid;
}

#barrera1 {
	position: absolute;
	background-color: yellow;
	width: 20px;
	height: 90px;
}

#barrera2 {
	position: absolute;
	background-color: yellow;
	width: 20px;
	height: 90px;
}

@font-face {
	font-family: HAMMERHEAD;
	src: url(HAMMERHEAD.ttf);
}

@font-face {
	font-family: Minecrafter;
	src: url(Minecraft.ttf);
}

#score1 {
	position: absolute;
	color: white;
	font-size: 10em;
	font-family: Minecrafter;
	top: 225px;
	left: 150px;
	width: 120px;
	height: 161px;
	overflow: hidden;
}

#score2 {
	position: absolute;
	color: white;
	font-size: 10em;
	font-family: Minecrafter;
	top: 225px;
	left: 541px;
	width: 120px;
	height: 161px;
	overflow: hidden;
}